$main-blue: #014db7;
$main-orange: #f47d42;
$text-lite: #fff;
$text-dark: #000;
$svg-line: rgb(145, 151, 161);
$black-shadows: rgba(255, 255, 255, .5);
$gradient: linear-gradient(90deg, #b0ebe9 , #edcdd8 );